.Dictionary section {
  background: white;
  border: 1px solid #dadde1;
  box-shadow: 0 10px 10px rgb(0 0 0 / 10%);
  font-family: Arial, Helvetica, sans-serif;
  padding: 16px;
  border-radius: 4px;
  color: rgb(135, 135, 135);
  margin: 20px 0;
}
.Dictionary h1 {
  font-size: 14px;
  line-height: 1.5;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 15px;
}
.Dictionary input {
  width: 100%;
  padding: 6px 4px;
}
.Dictionary .hint {
  font-size: 11px;
  margin-top: 5px;
}
strong {
  color: #000000;
}
a {
  color: #000000;
}
